@charset "ISO-8859-1";

.dashboard{

	padding:20px;
	background-color: #E6F6D1;
	border-radius: 1rem;
}

ul.stadistics{
	display: inline-block;

}

.center{
	text-align: center;
	padding-left:45%;
}

.dashboard-column {
  float: left;
  width: 50%;
}
.dashboard-row:after {
  content: "";
  display: table;
  clear: both;
}